@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Owners-text", sans-serif;
    background-color: #f7fafc !important;
    background-image: radial-gradient(#805ad5 1px, hsla(0, 0%, 100%, 0.275) 0);
    background-size: 2rem 2rem;
}
h1,
h2,
h3 {
    font-family: "Ofelia-text", sans-serif;
}

h1 {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
}
h2 {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
}
h3 {
    color: #000000;
    font-size: 1.25rem;
    font-weight: 600;
}
button {
    font-family: "Owners-text", sans-serif;
}
